<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application>
        <activity
            android:name=".activity.nativegallery.GalleryMultiPickerNativeActivity"
            android:theme="@style/ImagePicker.Theme.Transparent" />
        <activity
            android:name=".activity.nativegallery.GallerySinglePickerActivity"
            android:theme="@style/ImagePicker.Theme.Transparent" />
        <activity
            android:name=".activity.camera.CameraPickerActivity"
            android:theme="@style/ImagePicker.Theme.Transparent" />
        <activity
            android:name=".activity.dialog.DialogLauncherActivity"
            android:theme="@style/ImagePicker.Theme.Dialog" />
        <activity
            android:name=".activity.customgallery.GalleryPickerCustomActivity" />
    </application>
</manifest>
